@import './sass/vendors/bootstrap.scss';

@import './sass/abstracts/mixins';
@import './sass/abstracts/variables';
@import './sass/abstracts/helpers';

@import './sass/base/base';
@import './sass/base/typography';

@import './sass/components/buttons';
@import './component/project/project';

@import './sass/layout/footer';
@import './sass/layout/sections';

@import './sass/sections/about';
@import './sass/sections/contact';
@import './sass/sections/hero';
@import './sass/sections/projects';
@import './component/cardsStack/cardsStacks.scss';
@import './component/cardsStack/progressBar/progressBar.scss';
@import './component/contactForm/contactForm.sass';

.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.row {
	flex-direction: row;
}

.opacity {
	opacity: 0;
}
